* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: lightblue;
}
.button {
    margin-top: 250px;
    text-align: center;
}

.button a {
    text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	transition: .15s ease-in-out;
}
.button a:hover{
	box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
}

.popUp {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.popUp.active{
  display: block;
}
.popUp__container{
    display: flex;
    width: 100%;
    height: 100%;
}
.popUp__body {
    margin: auto;
    width: 500px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px 10px 15px;
    position: relative;
}
.popUp__close{

    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;

}
.form {
  max-width: 600px;
  margin: 0 auto;
  color: black;
}
.form * {
  outline: none;
}
.form__title{
    font-size: 26px;
    font-weight: 650;
    margin: 0 0 15px 0;
}
.form__body {}
.form__item {
  margin: 0 0 15px 0;
}
.form__label {
   display: block;
   font-size: 18px;
   margin: 0 0 10px 0;
}
.form__input {
  width:100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
}
.form__input:focus{
  box-shadow: 0 0 15px black;
}
textarea.form__input{
  min-height: 100px;
  padding: 15px;
  resize: vertical;
}
.form__buttom {
	text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: black;
	transition: .15s ease-in-out;
}
.form__buttom:hover{
	box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
}
.form__buttom:active{
  top: 3px;
  box-shadow: 0 2px 0 rgb(0, 95, 107) ;
}
.select {
  width: 50%;
  padding: 5px;
  text-align: center;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}
.select::hover{

}
.checkbox {}
.checkbox__input {

}
.checkbox__label{
  font-size:18px;
  line-height: 140%;
}